parameters:
	ignoreErrors:
		-
			message: "#^Class Icalendar\\\\Exception\\\\ValidationException constructor invoked with 1 parameter, 2\\-3 required\\.$#"
			count: 1
			path: src/Component/Participant.php

		-
			message: "#^Method Icalendar\\\\Component\\\\VEvent\\:\\:setAppleStructuredLocation\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Component/VEvent.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/Parser/LineFolder.php

		-
			message: "#^Method Icalendar\\\\Parser\\\\ValueParser\\\\DurationParser\\:\\:parse\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Parser/ValueParser/DurationParser.php

		-
			message: "#^Property Icalendar\\\\Parser\\\\ValueParser\\\\DurationParser\\:\\:\\$strict is never read, only written\\.$#"
			count: 1
			path: src/Parser/ValueParser/DurationParser.php

		-
			message: "#^Method Icalendar\\\\Parser\\\\ValueParser\\\\PeriodParser\\:\\:parse\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Parser/ValueParser/PeriodParser.php

		-
			message: "#^Method Icalendar\\\\Parser\\\\ValueParser\\\\PeriodParser\\:\\:parsePeriodEnd\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Parser/ValueParser/PeriodParser.php

		-
			message: "#^Method Icalendar\\\\Property\\\\GenericProperty\\:\\:__construct\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Property/GenericProperty.php

		-
			message: "#^Method Icalendar\\\\Property\\\\GenericProperty\\:\\:getParameters\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Property/GenericProperty.php

		-
			message: "#^Method Icalendar\\\\Recurrence\\\\RRuleParser\\:\\:buildRRule\\(\\) has parameter \\$rules with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Recurrence/RRuleParser.php

		-
			message: "#^Method Icalendar\\\\Recurrence\\\\RRuleParser\\:\\:validateRules\\(\\) has parameter \\$rules with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Recurrence/RRuleParser.php

		-
			message: "#^Offset 1 on array\\{string, string, non\\-falsy\\-string\\} in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: src/Recurrence/RRuleParser.php

		-
			message: "#^Cannot access offset int\\<1, 16\\> on array\\|false\\.$#"
			count: 2
			path: src/Validation/SecurityValidator.php

		-
			message: "#^Method Icalendar\\\\Validation\\\\SecurityValidator\\:\\:__construct\\(\\) has parameter \\$allowedSchemes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Validation/SecurityValidator.php

		-
			message: "#^Method Icalendar\\\\Validation\\\\SecurityValidator\\:\\:__construct\\(\\) has parameter \\$privateIpRanges with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Validation/SecurityValidator.php

		-
			message: "#^Method Icalendar\\\\Validation\\\\ValidationError\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Validation/ValidationError.php

		-
			message: "#^Method Icalendar\\\\Validation\\\\ValidationError\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Validation/ValidationError.php

		-
			message: "#^Method Icalendar\\\\Validation\\\\Validator\\:\\:getErrorCounts\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Validation/Validator.php

		-
			message: "#^Method Icalendar\\\\Validation\\\\Validator\\:\\:validate\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Validation/Validator.php

		-
			message: "#^Method Icalendar\\\\Validation\\\\Validator\\:\\:validateComponent\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Validation/Validator.php

		-
			message: "#^Method Icalendar\\\\Validation\\\\Validator\\:\\:validateProperty\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Validation/Validator.php

		-
			message: "#^Method Icalendar\\\\Validation\\\\Validator\\:\\:validateSingleComponent\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Validation/Validator.php

		-
			message: "#^Strict comparison using \\!\\=\\= between DateTimeZone and null will always evaluate to true\\.$#"
			count: 1
			path: src/Value/DateTimeValue.php

		-
			message: "#^Method Icalendar\\\\Writer\\\\ValueWriter\\\\PeriodWriter\\:\\:isSinglePeriod\\(\\) has parameter \\$value with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Writer/ValueWriter/PeriodWriter.php